!!! Strict
%html
  %head

    %title foo
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/

    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/baseline.compress.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery.autocomplete.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery.treeview.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/ui.tabs.css" }=''

    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}=""
    %script{:type => "text/javascript"}
      google.load("jquery", "1.2.6", {uncompressed:true});
      google.load("jqueryui", "1.7.2", {uncompressed:true});
    
    %script{:type => "text/javascript", :src => "/js/jquery.easing.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.curvycorners.min.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.history.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.blockUI.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.growl.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.autocomplete.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.highlightFade.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.popupwindow.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.cookie.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.simplemodal.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.treeview.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.jeditable.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery.scrollTo.js"}=""
    %script{:type => "text/javascript", :src => "/js/ajaxupload.js"}=""
    %script{:type => "text/javascript", :src => "/js/ams.js"}=""    
  %body
    %div{:id => :spinner}
      %img{:src => "/img/spinner.gif"}

    %div{:id => "search", :class => ""}
      %form{:id => :searchform}
        %div
          == <input type="text" name="s" class="searchthingy" /><input id="search_simg" type="image" name="s" title="Suche" src="/img/search3.gif" />
        
    %div{:id => :top, :class => "width8"}
      %div{:class => "column width4 first"}
        %div{:id => :toplinks}
          %ul
            %li
              %a{:href => "#{PageController.r(:dashboard)}", :rel => :history, :title => "Dashboard", :class => "alink"}
                = Icon(:clipboard, "foo", 32, :green)            
                Dashboard 
            %li
              %a{:href => "#{UserController.r(:index)}", :rel => :history, :title => "Kontakte", :class => "alink"}
                = Icon(:hers, "foo", 32, :green)
                Kontakte
            %li
              %a{:href => "#{ProductsController.r(:index)}", :rel => :history, :title => "Produkte", :class => "alink"}
                = Icon(:atomic, "foo", 32, :green) 
                Produkte
            %li
              %a{:href => "#{AgencyController.r(:index, session_user.agency.name.escape(:uri))}", :rel => :history, :title => "Agentur", :class => "alink"}
                = Icon(:coffee, "foo", 32, :green)
                Agentur
            %li
              %a{:href => "#{LocationController.r(:index)}", :rel => :history, :title => "Orte", :class => "alink"}
                = Icon(:radio, "foo", 32, :green)
                Orte
    %div{:class => "column width5 first", :style => "height:44px"}
      %ul{:id => :history_inc}
              
    %div{:id => :mid, :class => "column first width6"}
      %div{:class => "column width1 first", :id => :sidebar}
        %div{:class => "", :id => :sidebar_content}
      %div{:class => "column width3"}
        %div{:id => :content}
          = @content
    %div{:id => :bottom, :class => "column first", :style => "margin-top:440px"}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
