!!! Strict
%html
  %head

    %title foo
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/

    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/baseline.compress.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/base.css" }=''
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}=""
    %script{:type => "text/javascript"}
      google.load("jquery", "1.3.2");
    %script
    %script{:type => "text/javascript", :src => "/js/jquery.curvycorners.min.js"}=""
    %script{:type => "text/javascript", :src => "/js/ams.js"}=""    
    %script{:type => "text/javascript"}      
  %body
    %div{:id => :top, :class => "width4 stroke"}
      %div{:class => "column width1 first"}
        %div
          consectetur  elit, sed do eiusmod tempor
      %div{:class => "column width2"}
        %div
          %a{:href => "#{PageController.r(:a)}", :title => "Kontakte", :class => "alink"} Kontakte
          %a{:href => "#{PageController.r(:b)}", :title => "Produkte", :class => "alink"} Produkte
          %a{:href => "#{PageController.r(:gg)}", :title => "Orte", :class => "alink"} Orte          
        %div
          %ul{:id => :history_inc}
          
      %div{:class => "column width1"}
        %div{:class => "userlink"}
          %a{:href => "#{AMSController.r(:logout)}", :title => "Abmelden"}= session_user

    %div{:id => :mid, :class => "width4 stroke"}
      %div{:class => "column width1 first"}
        %div consectetur  elit, sed do eiusmod tempor
      %div{:class => "column width3"}
        %div{:id => :content}
          = @content

