%div{:class => "column width2 first"}
  %div{:class => :relative, :id => :agency_body}
    %h1= @agency.name
    %div{:id => :agency_logo_overlay}= @agency.logo
  = render_view :stats, :agency => @agency 
%div{:class => "column width1"}
  %div{:class => "rounded silver"}
    %h2 Verwalter
    - if @agency.admins.first
      %p= @agency.admins.first.name_link
    - else
      %p{:class => "notice corner"}= "Kein Admin"
