%h1= @agency.name
%p= "Admin: #{@agency.admins.first.name_link}"
%h2 Benutzer
%ul
  - users = (@agency.users - @agency.admins).partition{|u| u.id % 2 == 0 }
  - users.each do |user|
    %div{:class => "column width1 #{users.index(user) == 0 ? ' first' : ''}", :id => "userlist"}
      - user.each do |usr| 
        %li= usr.name_link
