%div{:id => :agency_list}
  %div{:class => :topicfriend}
    - ('A'..'Z').each do |l|
      %span{:title => "Zum Buchstaben #{l} Springen", :onclick => "scrollto('l#{l}'); return false;"}=l
  %h1{}
    Agenturen
    %span= "(<mark>#{@all_agencies.size}</mark>)"
  - i = 0
  - @agencies.sort_by{|a,b| a}.each do |letter, agencies|
    - add = (i+=1) % 2 == 0 ? "even" : "odd"
    %div{:class => "column width1 first letter", :style => "width:20px", :id => "l#{letter}"}
      = letter
    %div{:class => "column width2 content", :style => "width:680px"}
      %div{:class => "cont #{add}"}
        %ul{:style => "margin:0px;:padding:0px"}
          - agencies.each do |agency|
            %li= agency.name_link(true)
        %div{:style => "clear:both"} 
