%div{:class => "column width1"}
  %div{:style => "margin-bottom:-8px"}  
    %img{:src => "/img/user_corner_top.png"}
  .userbox{}
    %img{:src => "#{@user.userpic}", :height=> 48, :width => 48, :class => "uimg"}
    %ul
      %li= @user.name_link(true, false)
      %li= @user.agency.name_link
    %div{:class => :sub, :style=> "clear:both"}
      %ul
        %li
          %a{:class => "alink", :href => MessageController.r(:new, @user.id), :title => "Nachricht an #{@user.name}"}
            = Mcon(:email_compose, "Nachricht Schreiben", 18)
            Nachricht Schreiben
        %li
          %a{:class => "alink", :href => UserController.r(:data, @user.id), :title => "Dateien von #{@user.name}"}
            = Mcon(:folder, "Daten von #{@user.name}", 18)
            Dateien
        %li
          %a{:class => "alink", :href => UserController.r(:edit, :is_edit => "1", :id => @user.id), :title => "Aktualisieren: #{@user.name}"}
            = Mcon(:tools, "Benutzer Editieren", 18)          
            Benutzer Editieren
        %li
          %a{:class => "alink", :href => UserController.r(:profile, @user.id), :title => "Profil von #{@user.name}"}
            = Mcon(:user, "Daten von #{@user.name}", 18)
            Profil
  %div{:style => "margin-top:-8px"}
    %img{:src => "/img/user_corner_bottom.png"}
