%div{:class => "column width2 first"}
  %table
    %caption Benutzerliste
    %thead
      %tr
        %th{:style => "width:0px"}
        %th{:style => "width:0px"} ID
        %th E-Mail
    %tbody
      - @user.each do |user|
        %tr
          %td= Icon("hers", "Profil")
          %td= user.profile_link(nil, :class => "alink")
          %td= user.email
        
%div{:class => "column width1"}
  %div
    %table
      %tr
        %td{:class => :tright}
          = make_browse_link(:-)
        %td
          = make_browse_link(:+)      
