%h1
  Kontakte
  %span= "(<mark><mark>#{UserController::UserListingLength}</mark>/#{@all_user.size}</mark>)"
- @uparted.each do |user|
  %div{:class => "column width1 #{@uparted.index(user) == 0 ? ' first' : ''}", :id => "userlist"}
    - user.each do |user| 
      = render_view :box, :user => user
%div{:class => "column width1"}
  %div
    %table
      %tr
        %td{:class => :tright}
          = make_browse_link(:-, @start)
        %td
          = make_browse_link(:+, @start)      
