%div{:class => "sb corner"}
  %h2 Gesendet
  %ul
    - @messages.each do |msg|
      %li= "<a href='#{MessageController.r(:messages, msg.id)}' class='alink' title='Nachricht: #{msg.topic}'><img src='/img/starred-small.png' width='14' height='14' class='starred' /> #{msg.topic}</a> an #{msg.to.name_link}"
