%div{:class => "colum width3 first"}
  %h1{:style => "margin:0px"}= @name
  
  %div{:class => "rounded boxchild"}
    %p= @description
  %hr
= render_file module_template_path(:time)
- if @mods["w_locations"]
  = render_file module_template_path(:location)
%div{:class => "colum width3 first"}
  %hr  
  - if @mods["w_products"]
    = render_file module_template_path(:products)
