%div{:class => "colum width3 first"}
  %h1{:style => "margin:0px"}= @name
  %p= @description
  %hr
= render_view :_mk_times
- if @mods["w_locations"]
  = render_view :_mk_locations
%div{:class => "colum width3 first"}
  %hr  
  - if @mods["w_products"]
    = render_view :_mk_products
